<h1>{{curso?.nombre}}</h1>
<h2>Nueva Comision</h2>
<div class="example-container">
    <div class="container">
        <form [formGroup]="comisionForm" (submit)="nuevo()">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" required>
                        <mat-error *ngIf="comisionForm.controls.nombre.touched && comisionForm.controls.nombre.invalid">
                        <span *ngIf="comisionForm.controls.nombre.errors?.required">Campo obligatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="descripcion">
                        <mat-error *ngIf="comisionForm.controls.descripcion.touched && comisionForm.controls.descripcion.invalid">
                        <span *ngIf="comisionForm.controls.descripcion.errors?.required">Campo obligatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Horarios</mat-label>
                        <input matInput formControlName="horario_dias">
                        <mat-error *ngIf="comisionForm.controls.horario_dias.touched && comisionForm.controls.horario_dias.invalid">
                            <span *ngIf="comisionForm.controls.horario_dias.errors?.required">Campo obligatorio</span>
                            <span *ngIf="comisionForm.controls.horario_dias.errors?.email">Email invalido</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Cupo</mat-label>
                        <input matInput formControlName="cupo">
                        <mat-error *ngIf="comisionForm.controls.cupo.touched && comisionForm.controls.cupo.invalid">
                        <span *ngIf="comisionForm.controls.cupo.errors?.required">Campo obligatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="estado">
                <div class="col s12">
                    <p>Comision agregada correctamente</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button mat-raised-button color="primary" class="w-100" type="submit">Guardar</button>
                </div>
                <div class="col-6">
                    <button mat-raised-button color="warn" class="w-100" type="button" [mat-dialog-close]="true">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>