.w-100{
    width: 100%;
}
.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.image-container > .image {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}