.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-image: url("https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg");
}
.sidenav::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index: -1;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list{
  color: white !important;
}