<div class="contenedor">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ingreso al Sistema</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (submit)="login()">
            <mat-card-content>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario">
                            <mat-error *ngIf="loginForm.controls.usuario.touched && loginForm.controls.usuario.invalid">
                            <span *ngIf="loginForm.controls.usuario.errors?.required">Campo obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password">
                            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                            <span *ngIf="loginForm.controls.password.errors?.required">Campo obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button color="primary" class="w-100" (click)="login()">Ingresar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button class="w-100">Volver</button>
                    </div>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>